<ion-header>
  <ion-toolbar color="primary">

    <ion-title>{{patologia.nome}}</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only color="royal">
        Fechar <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content >
    <ion-row>
      <ion-col col-12>
        <h1 class="titpatologoia">{{patologia.nome}}</h1>
      </ion-col>
      <h6 *ngIf="patologia.tipo==0">Patologia</h6>
      <h6 *ngIf="patologia.tipo==1">Medicamento</h6>
      <h6 *ngIf="patologia.tipo==2">Outros</h6>
    </ion-row>

  <div>

  </div>
  <p class="descricaopato">{{patologia.descricao | slice:0:400}}...</p>
  <button ion-button small (click)="exibidesc(patologia)"> Ver completa</button>

  <ion-item-group>
  <ion-item-divider class="titlesintomas" color="light">Sintomas</ion-item-divider>
  <ion-item class="listsinto" *ngFor="let all of allsintomas let i = index">
    <!--<div *ngFor="let item of sintomas">
        <div *ngIf="all.nome == item.nome">
        <ion-icon name="checkmark">alerts</ion-icon>
        <br>
        </div>
    </div>-->
    <div (click)="detalhes(all)">
    {{all.nome}}
  </div>
  </ion-item>
</ion-item-group>




  </ion-content>
