<ion-header>
  <ion-toolbar color="primary">

    <ion-title>{{patologia.nome}}</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only color="royal">
        Fechar <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content  >
    <div padding class="">


    <ion-row>
      <ion-col col-12>
        <h1 class="titpatologoia">{{patologia.nome}}</h1>
      </ion-col>
      <ion-col col-12>
          <h6>{{patologia.cod_area}}</h6>
      </ion-col>
      <h6 *ngIf="patologia.tipo==0">Condição patológica</h6>
      <h6 *ngIf="patologia.tipo==1">Medicamento</h6>
      <h6 *ngIf="patologia.tipo==2">Outros</h6>
    </ion-row>

  <div>

  </div>
  <p class="descricaopato" [innerHTML]="patologia.descricao | slice:0:400">...</p>
  <button ion-button small  *ngIf="patologia.descricao!=''" (click)="exibidesc(patologia)"> Ver completa</button>
</div>
  <ion-item-group>
  <ion-item-divider class="titlesintomas" color="light">Sinal/Sintomas/Exames</ion-item-divider>
  <ion-item class="listsinto" *ngFor="let all of allsintomas let i = index">
    <!--<div *ngFor="let item of sintomas">
        <div *ngIf="all.nome == item.nome">
        <ion-icon name="checkmark">alerts</ion-icon>
        <br>
        </div>
    </div>-->
    <div text-wrap (click)="detalhes(all)">
        <div *ngIf="all.tipo_sintoma==0">
            {{all.nome}} <font color="blue">(Sintoma)</font>
          </div>
          <div *ngIf="all.tipo_sintoma==1">
              {{all.nome}} <font color="blue">(Exame)</font>
            </div>
            <div *ngIf="all.tipo_sintoma==2">
                {{all.nome}} <font color="blue">(Referência)</font>
            </div>
  </div>
  </ion-item>
</ion-item-group>




  </ion-content>
