<ion-menu class="header" [content]="content">

  <ion-content class="header">
    <div align="center" class="headermenu">
    <img  src="assets/user.png" alt="">
    <div *ngFor="let p of dadosUser">
    <p>{{p.nome}}</p>
    <h3 >{{p.email}}</h3>
    </div>
    </div>

    <ion-list class="iconsmenu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
