page-get-consulta {
    .item {
        color: green;

        font-size: 15px;


    }
    .test{
      background-color: red;
    }
    .dadosinfo{
      text-align: center;
      font-size: 9px;
      color: blue;
      font-weight: lighter;
    }
    .dadosinfopercen{
      text-align: center;
      font-size: 9px;
      color: blue;
      font-weight:lighter;
      margin-top: -25%;
    }
    .boxdadosinfo{

    }
    .boxtotalcorres{
      text-align: center;
      font-weight: bold;
      color: green;
      font-size: 19px;

    }
}
