<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="medkit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="pesquisa" [animated]="true" placeholder="Sintomas" (ionInput)="getSintomas($event)"></ion-searchbar>

  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div *ngIf="tem" class="">
          <ion-item class=""  *ngFor="let item of items">
            <div (click)="addSintomas(item); pesquisa=''; tem='';" class="">
              {{item.nome}}
            </div>
          </ion-item>
  </div>


<div *ngIf="sintomas" class="">

<ion-item>FILTRO</ion-item>
  

    <ion-item class=""  *ngFor="let item of sintomas">
        {{item.nome}}
    <div (click)="delete(item)">
      <ion-icon left name="close"></ion-icon>
    </div>
    </ion-item>




<button ion-button (click)="consultar()">
  <div>Consultar</div>
</button>

</div>
</ion-content>
