
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

    <div padding>
   
        <ion-segment [(ngModel)]="relationship" color="primary">
            <ion-segment-button value="todos" (ionSelect)="getDados()" isActive>
              Todos
            </ion-segment-button>
            <ion-segment-button value="sintomas" (ionSelect)="consultarTipo(0)">
              Sintomas
            </ion-segment-button>
            <ion-segment-button value="exames" (ionSelect)="consultarTipo(1)">
                Exames
            </ion-segment-button>
          </ion-segment>
      </div>

  <div class="" >
    <ion-searchbar class="" [(ngModel)]="pesquisa" [animated]="true" placeholder="Digite o sintoma" (ionInput)="getSintomas($event)"></ion-searchbar>
  <div *ngIf="tem" class="">
          <ion-item class=""  *ngFor="let item of items">
            <div (click)="addSintomas(item); pesquisa=''; tem='';" class="">
              {{item.nome}}
            </div>
          </ion-item>
  </div>

  </div>

  <ion-item-group>

     <ion-list>
    <ion-item class="itensdoencas" *ngFor="let item of sintomas">
        {{item.nome}}
      <ion-icon class="iconclose" (click)="delete(item)" name="ios-trash-outline" item-end></ion-icon>
    </ion-item>
  </ion-list>

   </ion-item-group>
<div align="center" class="">

   <button [disabled]="sintomas.length==0" class="btnconsult" color="secondary" ion-button (click)="consultar()" round>
   Consultar
   </button>
   </div>

</ion-content>
