page-consulta {

.itensdoencas{
     word-wrap: break-word;
  color: #00b0fe;
}

.texto2{
  
  font-style: italic;
  padding: 3px;
  float: right;
color: #b1f790;
}

.boxsearsh{
  padding: 10px 0px 15px 0px;
}

.btnconsult{
  margin-top: 1%;
}
.iconclose{
  color: red;
}

.bar {
  width: 85%;
  display: inline-block;
}

.bar2 {
  
  display: inline-block;
}

.searbarr{

  input{
    border-radius: 50px;
  }
}

}
