
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

  <br>


    <div padding>
          <ion-item>
            <ion-label>Pesquisar Por:</ion-label>
            <ion-select multiple [(ngModel)]="filtro" cancelText="Cancelar" okText="Ok" (ionChange)="filtroConsulta(); pesquisa=''">
              <ion-option value="todos">Todos</ion-option>
              <ion-option value="0" >Sinais/Sintomas</ion-option>
              <ion-option value="1">Exames</ion-option>
                <ion-option value="2">Referências</ion-option>
            </ion-select>
          </ion-item>
    </div>

  <div class="" >
      <div class="bar" >
    <ion-searchbar cancelButtonText="Fechar" [(ngModel)]="pesquisa"  placeholder="Digite o item" (ionInput)="getSintomas($event)" ></ion-searchbar>
  </div>
  <div class="bar2" >
    <button [disabled]="!pesquisa" class="btnconsult"  ion-button (click)="finalizar()">
     Ok
    </button>
  </div>
  <div *ngIf="tem" class="">
      <ion-list>
          <ion-item  *ngFor="let item of items">
            <div text-wrap  (click)="addSintomas(item);"  class="">
              {{item.nome}}
              <div *ngFor="let p of sintomas">
                <div *ngIf="p.nome == item.nome" class="texto2">
                    <ion-icon name="checkmark"></ion-icon>
                </div>
              </div>
            </div>
              
          </ion-item>
        </ion-list>
  </div>

  </div>

  <div *ngIf="!pesquisa">
  <ion-item-group>

     <ion-list>
    <ion-item text-wrap class="itensdoencas" *ngFor="let item of sintomas">
        {{item.nome}}
      <ion-icon class="iconclose" (click)="delete(item)" name="ios-trash-outline" item-end></ion-icon>
    </ion-item>
  </ion-list>

   </ion-item-group>
<div align="center" class="">

   <button [disabled]="sintomas.length==0" class="btnconsult" color="secondary" ion-button (click)="consultar()" round>
   Consultar
   </button>
   <button [disabled]="sintomas.length==0" class="btnconsult" color="light" ion-button (click)="limpar()" round>
      Apagar itens
      </button>

   </div>
  </div>
</ion-content>
