page-consulta {

.itensdoencas{
     word-wrap: break-word;
  color: #00b0fe;
}

.texto2{
  
  font-style: italic;
  padding: 3px;
  float: right;
color: #2d8d00;
}

.boxsearsh{
  padding: 10px 0px 15px 0px;
}

.btnconsult{
  margin-top: 1%;
}
.iconclose{
  color: red;
}

.bar {
  width: 85%;
  float: left;
  display: inline-block;
}

.bar2 {
  width: 10%;
  margin-top: 8px;
  padding: 0px;
  float: left;
  display: inline-block;
}

.searbarr{

  input{
    border-radius: 50px;
  }
}

}
