page-detalhe-consulta {
    .item {
        color: rgb(0, 0, 0);

    }
    .dadosinfo{
      color: #00b0fe;
      font-size: 12px;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
    .titpatologoia{
      font-weight: bold;
      color: green;

    }
    .titlesintomas{
    background-color:#d8d8d8;
    }
    .dadosinfopercen{
      padding: 10px;
      color: #00b0fe;
      font-size: 15px;
      border-style: solid;
        border-width: 1px;
        border-color: #00b0fe;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
    .boxdadosinfo{

    }
    .exisites{
      background-color: #00b0fe;
    }
    .noexisites{
      background-color: #fff;
    }
    .listsinto{
      color: green;
      font-size: 14px;
      font-weight: lighter;
    }
    .boxtotalcorres{
            padding: 10px;
      color: #fff;
      font-size: 15px;
      border-style: solid;
        border-width: 1px;
        border-color: green;
        background-color: green;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    }
}
