

<!--
Generated template for the DetalheConsultaPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{patologia.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-row>
    <ion-col col-12>
      <h1 class="titpatologoia">{{patologia.nome}}</h1>
    </ion-col>
    <ion-col col-12>
        <h6>{{patologia.cod_area}}</h6>
    </ion-col>
    <h6 *ngIf="patologia.tipo==0">Condição patológica</h6>
    <h6 *ngIf="patologia.tipo==1">Medicamento</h6>
    <h6 *ngIf="patologia.tipo==2">Outros</h6>

    <ion-col>
      <div class="dadosinfo">
        Correspondência
        Patológica

      </div>


    </ion-col>
    <ion-col>
      <div class="boxtotalcorres">
        {{patologia.qtd}}/{{patologia.total}}

      </div>

    </ion-col>
    <ion-col>
      <div class="dadosinfopercen">
        ({{patologia.porcentagem | number:'1.1-2'}}%)
      </div>
    </ion-col>
  </ion-row>

  <div>

  </div>
  <div class="descpato">


  <p [innerHTML]="patologia.descricao | slice:0:400" >...</p>
  <button ion-button small (click)="exibidesc(patologia)"> Ver completa</button>
</div>
  <ion-item-group>
  <ion-item-divider class="titlesintomas" color="light">Sinal/Sintomas/Exames</ion-item-divider>
  
  <ion-item text-wrap class="listsinto" *ngFor="let all of allsintomas let i = index" >
    
  <div class="listsintomas" (click)="detalhes(all)">
      <div *ngIf="all.tipo_sintoma==0">
          {{all.nome}} <font color="blue">(Sintoma)</font> 
          <div *ngFor="let item of sintomas" class="alerta">
            <div *ngIf="all.nome == item.nome">
            <ion-icon name="alert"></ion-icon>
            </div> 
          </div>
        </div>
        <div *ngIf="all.tipo_sintoma==1">
            {{all.nome}} <font color="blue">(Exame)</font> 
            <div *ngFor="let item of sintomas" class="alerta">
              <div *ngIf="all.nome == item.nome">
              <ion-icon name="alert"></ion-icon>
              </div> 
            </div>
          </div>
          <div *ngIf="all.tipo_sintoma==2">
              {{all.nome}} <font color="blue">(Referência)</font> 
              <div *ngFor="let item of sintomas" class="alerta">
                <div *ngIf="all.nome == item.nome">
                <ion-icon name="alert"></ion-icon>
                </div> 
              </div>
            </div>
  </div>


  </ion-item>

</ion-item-group>




</ion-content>
