<ion-header>
  <ion-toolbar color="primary">

    <ion-title>{{patologia.nome}}</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only color="royal">
        Fechar <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content >

  <div padding>
  <ion-row>
    <ion-col col-12>
      <h1 [ngStyle]="configfont" class="titpatologoia">{{patologia.nome}}</h1>
    </ion-col>
    <ion-col col-12>
        <h6 [ngStyle]="configfont" *ngFor="let p of area">{{p.nome}}</h6>
    
    <h6 *ngIf="patologia.tipo==0">Condição patológica</h6>
    <h6 *ngIf="patologia.tipo==1">Medicamento</h6>
    <h6 *ngIf="patologia.tipo==2">Outros</h6>
    <br>
  </ion-col>
    <ion-col>
      <div style=" font-size:{{tamanhofont}}" class="teste dadosinfo">
        Correspondência
        Patológica
     

      </div>


    </ion-col>
    <ion-col>
      <div class="boxtotalcorres">
        {{patologia.qtd}}/{{patologia.total}}

      </div>

    </ion-col>
    <ion-col>
      <div class="dadosinfopercen">
        ({{patologia.porcentagem | number:'1.1-2'}}%)
      </div>
    </ion-col>
  </ion-row>
</div>
  <div>

  </div>
  <div class="descpato">


  <p  [ngStyle]="configfont" [innerHTML]="patologia.descricao | slice:0:400" >...</p>
  <button *ngIf="patologia.descricao" ion-button small (click)="exibidesc(patologia)"> Ver completa</button>
</div>
  <ion-item-group>
  <ion-item-divider class="titlesintomas" color="light">Itens</ion-item-divider>
  
  <ion-item text-wrap class="listsinto" *ngFor="let all of allsintomas let i = index" >
    
  <div [ngStyle]="configfont" class="listsintomas" (click)="detalhes(all)">
      <div *ngIf="all.tipo_sintoma==0">
          <div class="negrito" *ngIf="all.corres==1">{{all.nome}} <font color="blue">(Sinal/Sintoma)</font> <ion-icon name="medkit"></ion-icon></div>
            <div   *ngIf="all.corres==0">{{all.nome}} <font color="blue">(Sinal/Sintoma)</font></div>

          </div>
        <div *ngIf="all.tipo_sintoma==1">
            <div  class="negrito" *ngIf="all.corres==1">{{all.nome}} <font color="blue">(Exame)</font> <ion-icon name="medkit"></ion-icon></div>
            <div *ngIf="all.corres==0">{{all.nome}} <font color="blue">(Exame)</font></div>
          </div>
          <div *ngIf="all.tipo_sintoma==2">
              <div class="negrito" *ngIf="all.corres==1">{{all.nome}} <font color="blue">(Referência)</font> <ion-icon name="medkit"></ion-icon></div>
              <div *ngIf="all.corres==0">{{all.nome}} <font color="blue">(Referência)</font></div>
            </div>
  </div>


  </ion-item>

</ion-item-group>




</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>Acessibilidade</p>
    <ion-buttons end>
      <button (click)="aumentarfont()"  ion-button icon-right color="royal">
        fonte
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="diminuirfont()"  ion-button icon-right color="royal">
        fonte
        <ion-icon name="md-remove"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
